table{
    position: absolute;
    border-left: 1px solid var(--secondary);
    background-color: white;    
    width: 100%;
    border-collapse: collapse;
    justify-content: center;
    
}
.profTitle{
    margin-top: 40px;
}
.table_scrol{
    border: none;
        border-radius: 15px 0 0 0;
    position: relative;
    height: 400px;
    background-color: white;
    opacity: 1;
    justify-content: 100%;
    width: 60%;
    margin-left: 20%;
    overflow-y: scroll;
    margin-bottom: 30px;
    margin-top: 100px;
    margin-bottom: 80px;
    
}
th,td{
    border: none;
    width:40%;
    font-size: 15px;
    font-weight: bold;
}
tr{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid;
}
.wide-column {
    width: 40%;
    padding-left:15% ;
}
.wide-column>button {
    
    margin-left:12%;
    position: relative;
    top: -15px;
}
.first_column,.second_column{
    width: 25%;
    text-align: center;
}
.order{
    width: 10%;
    text-align: center
}

td>button{
    display: inline;
    background-color: red;
    border: none;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100px;
    color: white;
    font-weight: bold;
    position: relative;
    right: -10%;
    
}
tr:hover{
    background-color: white;
    filter: brightness(95%);
    
}
.link{
    display: inline;
    background-color: green;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 25px;
    padding-right: 25px;
    width: 60px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    position: relative;
    right: 30%;
    top: 10px;
}

thead{
    background-color: var(--secondary);
    height: 50px;
    text-align: center;
    color: var(--principal);
    font-size: 25px;
    font-weight: bold;
    border-bottom: 3px solid black;
}
.thead:hover{
    background-color: var(--secondary);
}
.action{
    text-align: center;
    margin-right: 40%;
 
    
}
.add_btn{
    position: relative;
    left: 90%;
    width: 10%;
    background-color: gray;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 0 0 0 ;
    transition: all 800ms ease-in-out;
}
.add_btn:hover{
    transform: scale(1.2);
    background-color: var(--secondary);
}

@media (max-width: 768px) {
    .table_scrol{
        width: 95%;
        margin-left: 2.5%;
        overflow-x: hidden;
    }
    .lab{
        display: none;
    }
    td>button{
        background-color:red;
        width: 30px;
        bottom: 0px;
        position: relative;
        top: 80px;
        padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 2px;
            padding-right:2px;
            margin-top: 31px;
    }
    .link{
        position: relative;
        width: 40px;
        left: -10%;
        top: -15px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right:10px;
    }
    .add{
        display: none;
    }
    strong{
        font-size: 20px;
        font-weight: bold;
    }
    
}


