.Hero{
    width: 100%;
    position:relative ;
    background-color: var(--primary);
    height: 600px;
    width: 100vw;
    margin: 0;
}
@media (max-width : 768px) {
    .Hero{
        height: 900px;
    }
}