:root{
  --principal:#FFF;
  --primary:#010100;
  --secondary:#0693ab;
  --gradient :linear-gradient(0deg,var(--secondary),var(--primary));
  
}
html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  overflow-x: hidden;
}

